<div class="el-parallax">
    <div class="el-banner-container">
       <div class="el-banner-section"> 
            <div class="el-banner-wrap">
                <div class="el-banner-small-text">
                    New Games & Accessories
                </div>
            </div>
            <div class="el-banner-wrap">
               <h1 class="el-banner-h1">Monthly Packages. <br> Excitement delivered daily. </h1>                
            </div>
            <div class="el-banner-wrap">
                <div class="el-banner-small-text text-width">
                    What's the best way to shop for the latest video games and peripherals? How about never shopping at all? You'll get new stuff on your doorstep - every month.
                </div>
            </div>
            <div class="el-banner-wrap">
                <div class="el-button-container">
                    <button type="button" class="el-button">Get Started</button>
                </div>
            </div>
        </div>
    </div>
</div>
